.App {
  text-align: center;
  background-color: #030724;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #080f44;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css */
.player-text {
  font-size: 2vw; /* Base size using viewport width */
}

@media (max-width: 1200px) {
  .player-text {
    font-size: 4vw;
  }
}

@media (max-width: 992px) {
  .player-text {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  .player-text {
    font-size: 4vw;
  }
}

@media (max-width: 576px) {
  .player-text {
    font-size: 4vw;
  }
@media (max-width: 476px) {
  .player-text {
    font-size: 3.2vw;
  }
}
@media (max-width: 376px) {
  .player-text {
    font-size: 3vw;
  }
}



}
